.el-header{height:auto !important;padding:0 !important;}
.el-menu.el-menu--horizontal{border-bottom:none !important;}
.el-container{height:100%;width:100%;}
.breadCrumb .el-breadcrumb{line-height: 3.57rem;padding: 0 1.07rem;}
 

 
 